#para{


    background-color: #0000ff90;
}

#para-2{


    background-color: #f08080;
}    

#para-3{
    background-color: #00ff9d9e;
}
#para-4{
    background-color: #40a3fafa;
}
#para-5{
    background-color: #f5f5dc;
}
#para-6{
    background-color:#fafad2;
}
#para-7{
    background-color: #dcdcdc;
}    
#para-8{
    background-color: #00ff00;
}
#para-9{
    background-color: #ffb6c1;
}
#para-10{
    background-color: #fcaaaa;
}
#para-11{
    background-color: #f5c5cd;
}
#para-12{
    background-color:#fe96a7 ;
}
#para-13{
    background-color: #ff93a5;
}
#para-14{
    background-color: #ff7e93;
}
#para-15{
    background-color: #ff69b4;
}

#head-one{
    background-color: #f5f5dc;
    
}